<h1><%= @group.title %></h1>

<%= render "groups/group_navigation", group: @group %>

<h2>Activities</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Description</th>
      <th>Suggested</th>
      <th>Completed</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @group_activities.each do |group_activity| %>
      <tr class='<%= "completed-table-row" if group_activity.completed_at %>'>
        <th><%= group_activity.title %></th>
        <th><%= group_activity.description %></th>
        <th><%= l group_activity.created_at, format: :short %></th>
        <th><%= l group_activity.completed_at, format: :short if group_activity.completed_at %></th>
        <th>
          <% if group_activity.completed_at %>
            <%= link_to group_group_activities_path(group_id: @group.id, group_activity: { activity_id: group_activity.activity_id }), method: :post, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-repeat"></span>
            <% end %>
          <% else %>
            <%= link_to group_group_activity_path(group_id: @group.id, id: group_activity.id, group_activity: { completed_at: Time.now }), method: :put, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-ok"></span>
            <% end %>
          <% end %>

          <%= link_to group_group_activity_path(group_id: @group.id, id: group_activity.id), method: :destroy, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
